.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  background-image: url('../images/slide-ordo3.jpg');
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.submitBtn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:disabled {
  background-color: #6c757d;
}

.forgotPassword {
  color: #007bff;
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}
