/* Style général pour la mise en page */
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* Style de l'en-tête */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Style pour la barre de recherche */
.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  width: 300px;
}

.search-icon {
  color: #007bff;
  margin-right: 8px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  color: #333;
}

/* Style du bouton Ajouter */
.add-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #218838;
}

/* Style des messages d'erreur */
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Style pour le tableau des patients */
.patient-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

.patient-table th, .patient-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.patient-table th {
  background-color: #007bff;
  color: white;
}

.patient-table td {
  font-size: 14px;
  color: #333;
}

.patient-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.patient-table tr:hover {
  background-color: #f1f1f1;
}

/* Style des boutons d'action (modifier, supprimer) */
.edit-btn, .delete-btn, .view-btn {
  padding: 5px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-btn {
  background-color: #ffc107;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}



.edit-btn:hover {
  background-color: #e0a800;
  transform: scale(1.05);
}

.delete-btn:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.view-btn:hover {
  color: #45a049; /* Couleur plus foncée au survol */
  transform: scale(1.05);
}

.view-btn .fa-eye {
  font-size: 1rem;
}

/* Optionnel : ajout d'un effet visuel pour les icônes */
.view-btn:hover .fa-eye {
  transform: rotate(20deg); /* Légère rotation lors du survol */
}

/* Style pour les icônes dans les boutons */
button .fa {
  margin-right: 5px;
  font-size: 1.2rem;
}



